<h1>Hola! Por favor confirma tu email!</h1>

<p>
    Por favor confirma tu dirección de email haciendo click sobre el enlace: <br><br>
    <a href="{{ signedUrl }}">Confirmar mi Email</a>.
    Este link expirará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Gracias!
</p>
