{% extends 'base.html.twig' %}

{% block title %}Resetear Password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <h1>Resetear Password</h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Escriba su dirección de correo electrónico y le enviaremos
                    un link para resetear su contraseña.
                </small>
            </div>

            <button class="btn btn-primary">Enviar Email para Resetear Password</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
