{% extends 'base.html.twig' %}

{% block title %}
    Listar Staff
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Listar Staff</h1>

		<table class="table table-hover">
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				{% for Staff in staff %}
							<tr>
								<td>{{ Staff.nombre }}</td>
								<td>{{ Staff.apellido }}</td>
								<td>
									<a href="{{ path('staff_detalle', {staffId: Staff.id}) }}" class="btn btn-sm btn-outline-secondary">Ver detalle</a>
								</td>
							</tr>
				{% endfor %}
			</tr>
		</table>
		<p class="text-left">
			<a class="btn btn-outline-info" href="#" onclick="history.go(-1)">Volver atras</a>
		</p>
	</div>

{% endblock %}
