{% extends 'base.html.twig' %}

{% block title %}RugbyApp
{% endblock %}

{% block body %}

    <div class="container">
        <p class="alert alert-secondary">{{error}}</p>
       
        <p class="bottom-buttons">
				<button class="btn btn-outline-info" onclick="window.history.back()">Volver</button>
			</p>
    </div>
{% endblock %}